body{
    background-color: rgb(187, 235, 219);
}

  label{
    color: rgb(25, 49, 33);
  }
 
  input{
    color: rgb(20, 14, 5);
    background-color: rgba(202, 252, 196, 0.788);
  }
 
 


.bg-light{
  background-color:rgb(187, 235, 219);
}
